<head>
  <meta name="author" content="Rogério de Oliveira">
  <meta institution="author" content="Universidade Presbiteriana Mackenzie">
</head>

<img src="http://meusite.mackenzie.br/rogerio/mackenzie_logo/UPM.2_horizontal_vermelho.jpg" width=300, align="right">
<!-- <h1 align=left><font size = 6, style="color:rgb(200,0,0)"> optional title </font></h1> -->

**CURSO DE PÓS-GRADUAÇÃO EM CIÊNCIA DE DADOS (BIG DATA PROCESSING AND ANALYTICS)**<p>
**Componente curricular:** BIG DATA ANALYTICS: ANÁLISE ESTATÍSTICA - 91162 - 2022.2 - 01D - Trilha 1.<br>

**Aluno:** ROBSON DE FREITAS SAMPAIO.<br>

**URL deste notebook:** https://github.com/rfsampaio/postgraduate_data_science/blob/main/notebooks/AE_T1.ipynb<br>
***

### **Atividade - Trilha 1**

A Pelican Stores, uma divisão da National Clothing, é uma cadeia de lojas de roupas femininas que opera em todos os Estados Unidos. Recentemente, a cadeia realizou uma promoção na qual cupons de desconto foram enviados aos clientes de outras lojas da National Clothing. Dados coletados para uma amostra de 100 transações de cartões de crédito nas lojas Pelican Stores durante um dia, durante a promoção, estão no arquivo "PelicanStores.csv". A Tabela abaixo mostra uma parte do conjunto de dados. O método de pagamento chamado "Cartão Proprietário" se refere a cobranças feitas utilizando um cartão de crédito da National Clothing. Os clientes que fizeram uma compra utilizando um cupom de descontos são denominados clientes promocionais e os clientes que fizeram uma compra sem utilizar um cupom de desconto são chamados clientes regulares. Como os cupons promocionais não foram enviados aos clientes Pelican Stores regulares, a administração considera as negociações feitas para pessoas apresentando cupons promocionais como vendas que, de outro modo, não teriam sido efetuadas. Naturalmente, a Pelican também espera que os clientes promocionais continuem a comprar em suas lojas.

| Cliente | Tipo de Cliente | Itens | Vendas líquidas | Método de Pagamento | Gênero | Estado Civil | Idade |
| --- | --- | --- | --- | --- | --- | --- | --- |
| 1 | Regular | 1 | 39,5 | Discover | Masculino | Casado | 32 |
| 2 | Promocional | 1 | 102,4 | Cartão Proprietário | Feminino | Casado | 36 |
| 3 | Regular | 1 | 22,5 | Cartão Proprietário | Feminino | Casado | 32 |
| 4 | Promocional | 5 | 100,4 | Cartão Proprietário | Feminino | Casado | 28 |
| 5 | Regular | 2 | 54 | MasterCard | Feminino | Casado | 34 |
| 6 | Regular | 1 | 44,5 | MasterCard | Feminino | Casado | 44 |
| 7 | Promocional | 2 | 78 | Cartão Proprietário | Feminino | Casado | 30 |
| 8 | Regular | 1 | 22,5 | Visa | Feminino | Casado | 40 |
| 9 | Promocional | 2 | 56,52 | Cartão Proprietário | Feminino | Casado | 46 |
| 10 | Regular | 1 | 44,5 | Cartão Proprietário | Feminino | Casado | 36 |
| 11 | Regular | 1 | 29,5 | Cartão Proprietário | Feminino | Casado | 48 |

A maioria das variáveis mostradas na tabela acima são autoexplicativas, mas duas das variáveis exigem algum esclarecimento.

- Itens -- O número total de itens comprados;
- Vendas líquidas -- A quantia total ($) cobrada pelo cartão de crédito.

A administração da Pelican gostaria de utilizar esses dados amostrais para aprender a respeito do perfil de seus clientes e avaliar a promoção envolvendo cupons de desconto.

Mas antes de obter estas informações, o analista precisa construir um dicionário de dados, indicando para cada variável (em um formato de tabela, com estas colunas):
- a. Nome da Variável;
- b. Descrição da Variável -- o que ela mede/significa;
- c. Tipo da Variável (quantitativa, qualitativa, discreta, contínua);
- d. Tipo de Mensuração da Variável (nominal, ordinal, intervalar ou racional);
- e. Valores possíveis da variável.

Depois de construído o dicionário de dados, determine as medidas de posição e variabilidade para as variáveis apropriadas. Para isso, utilize o conjunto de dados completo, fornecido no arquivo "PelicanStores.csv".

### **Carregando bibliotecas necessárias:**

In [2]:
library(tidyverse)

### **Resolução:**

**Dicionário de dados do dataset "PelicanStores.csv":**

| Nome da Variável | Descrição | Tipo de Variável | Tipo de Mensuração | Valores Possíveis |
| --- | --- | --- | --- | --- |
| Cliente | Código identificador do Cliente | Numérica. | Nominal. | De 1 a 100. |
| Tipo de Cliente | Tipo de captação do Cliente | Categórica. | Ordinal | "Regular" ou "Promocional". |
| Itens | O número total de itens comprados | Numérica. | Razão. | 1 a 17. |
| Vendas Líquidas  | A quantia total ($) cobrada pelo cartão de crédito | Numérica. | Razão. | 13,23 a 287,59. |
| Método de Pagamento | Método de Pagamento utilizado pelo Cliente | Categórica. | Ordinal | "Cartao Proprietario", "Discover", "American Express", "MasterCard" e "Visa". |
| Gênero | Gênero do Cliente | Categórica. | Ordinal | "Masculino" ou "Feminino". |
| Estado Civil | Estado Civil do Cliente | Categórica. | Ordinal | "Casado" ou "Solteiro". |
| Idade | Idade do Cliente | Numérica. | Razão. | De 20 a 78. |

**Carregamento dos dados do dataset "PelicanStores.csv":**

In [3]:
# definindo o diretório de datasets
setwd('../data')

# lendo o dataset
pelican <- read.csv('PelicanStores.csv', sep=',', header=T)

# verificando a estrutura do dataset
str(pelican)

'data.frame':	100 obs. of  8 variables:
 $ Cliente            : int  1 2 3 4 5 6 7 8 9 10 ...
 $ Tipo.de.Cliente    : chr  "Regular" "Promocional" "Regular" "Promocional" ...
 $ Itens              : int  1 1 1 5 2 1 2 1 2 1 ...
 $ Vendas.Liquidas    : num  39.5 102.4 22.5 100.4 54 ...
 $ Metodo.de.Pagamento: chr  "Discover" "Cartao Proprietario" "Cartao Proprietario" "Cartao Proprietario" ...
 $ Genero             : chr  "Masculino" "Feminino" "Feminino" "Feminino" ...
 $ Estado.Civil       : chr  "Casado" "Casado" "Casado" "Casado" ...
 $ Idade              : int  32 36 32 28 34 44 30 40 46 36 ...

In [4]:
# verificando o início do dataset
head(pelican, 11)

   Cliente Tipo.de.Cliente Itens Vendas.Liquidas Metodo.de.Pagamento Genero
1   1      Regular         1      39.50          Discover            Masculino
2   2      Promocional     1     102.40          Cartao Proprietario Feminino
3   3      Regular         1      22.50          Cartao Proprietario Feminino
4   4      Promocional     5     100.40          Cartao Proprietario Feminino
5   5      Regular         2      54.00          MasterCard          Feminino
6   6      Regular         1      44.50          MasterCard          Feminino
7   7      Promocional     2      78.00          Cartao Proprietario Feminino
8   8      Regular         1      22.50          Visa                Feminino
9   9      Promocional     2      56.52          Cartao Proprietario Feminino
10 10      Regular         1      44.50          Cartao Proprietario Feminino
11 11      Regular         1      29.50          Cartao Proprietario Feminino
   Estado.Civil Idade
1  Casado       32
2  Casado       36
3  Casado       32
4  Casado       28
5  Casado       34
6  Casado       44
7  Casado       30
8  Casado       40
9  Casado       46
10 Casado       36
11 Casado       48

In [5]:
# verificando o final do dataset
tail(pelican, 11)

    Cliente Tipo.de.Cliente Itens Vendas.Liquidas Metodo.de.Pagamento Genero
90   90     Promocional      6     57.60          Cartao Proprietario Feminino
91   91     Promocional      4     95.20          Cartao Proprietario Feminino
92   92     Promocional      1     22.42          Cartao Proprietario Feminino
93   93     Regular          5    159.75          Cartao Proprietario Feminino
94   94     Promocional     17    229.50          Cartao Proprietario Feminino
95   95     Regular          3     66.00          American Express    Feminino
96   96     Regular          1     39.50          MasterCard          Feminino
97   97     Promocional      9    253.00          Cartao Proprietario Feminino
98   98     Promocional     10    287.59          Cartao Proprietario Feminino
99   99     Promocional      2     47.60          Cartao Proprietario Feminino
100 100     Promocional      1     28.44          Cartao Proprietario Feminino
    Estado.Civil Idade
90  Casado       42
91  Casado       54
92  Casado       54
93  Casado       72
94  Casado       30
95  Casado       46
96  Casado       44
97  Casado       30
98  Casado       52
99  Casado       30
100 Casado       44

In [6]:
# obtendo os valores possíveis para a variável "Metodo de Pagamento"
tab <- table(pelican$Metodo.de.Pagamento)

# ordenando os valores de forma ascendente
tab[order(tab)]

   American Express            Discover                Visa          MasterCard
                  2                   4                  10                  14
Cartao Proprietario
                 70

**Determinando as medidas de posição para as variáveis "Itens", "Vendas.Liquidas" e "Idade":**

In [7]:
# definindo quais variáveis serão utilizadas para os cálculos:
# Itens = 3, Vendas.Liquidas = 4 e Idade = 8
cols <- c(3, 4, 8)

# função para calcular a moda
getmode <- function(v) {
  uniqv <- unique(v)
  uniqv[which.max(tabulate(match(v, uniqv)))]
}

# criando um dataframe para os resultados de posição
df_posicao <- data.frame(
                  media = apply(pelican[,cols], 2, mean),
                  mediana = apply(pelican[,cols], 2, median),
                  moda = apply(pelican[,cols], 2, getmode))
df_posicao

                media   mediana moda
Itens            3.2200  2.000   1.0
Vendas.Liquidas 77.6005 59.705  31.6
Idade           43.0800 42.000  46.0

**Determinando as medidas de variabilidade para as variáveis "Itens", "Vendas.Liquidas" e "Idade":**

In [8]:
# criando um dataframe para os resultados de dispersão
df_dispersao <- data.frame(
                    variancia = apply(pelican[,cols], 2, var),
                    desvio.padrao = apply(pelican[,cols], 2, sd))
df_dispersao

                variancia   desvio.padrao
Itens              7.486465  2.73614
Vendas.Liquidas 3098.585370 55.66494
Idade            153.488485 12.38905