## **1. Problema de Negócio**

**1.1 Empresa:** House Rocket.

**1.2 O que a empresa faz:** a House Rocket é uma plataforma de compra e venda de imóveis.

**1.3 Qual o problema?** O CEO da empresa gostaria de maximizar os lucros encontrando bons negócios.

**1.4 Qual a principal estratégia?** Fontes externas para encontrar bons negócios.

**1.5 As necessidades do CEO da House Rocket:**
1. Quantos imóveis estão disponíveis para compra?
2. Quantos atributos os imóveis possuem? (número de quartos, metragem, etc.)
3. Quais são os atributos dos imóveis? (número de quartos, metragem, etc.)
4. Qual o imóvel mais caro do portfólio?
5. Qual o imóvel com maior número de quartos?
6. Qual a soma total de quartos de todos os imóveis disponíveis para compra?
7. Quantos imóveis possuem 2 banheiros?
8. Qual o preço médio de todos os imóveis?
9. Qual o preço médio dos imóveis com 2 banheiros?
10. Qual o preço mínimo entre os imóveis com 3 quartos?
11. Quantos imóveis possuem mais de 300 m2 na sala de estar?
12. Quantos imóveis possuem mais de 2 andares?
13. Quantos imóveis possuem vista para a água?
14. Dos imóveis com vista para a água, quantos possuem 3 quartos?
15. Dos imóveis com mais de 300 m2 na sala de estar, quantos possuem 3 banheiros?

## **2. Planejamento da Solução**

**2.1 Planejamento do PRODUTO FINAL:**

a. O que eu vou entregar? (Planilha, Texto, E-mail, Modelo de ML, etc.)
- Resposta - Texto com perguntas e respostas.

b. Como vai ser a entrega?
- Resposta - Texto com perguntas e respostas.
	> Exemplo: 
	Quantos imóveis estão disponíveis para compra?
    Resposta: 2.300.

**2.2 Planejamento do PROCESSO:**

a. Onde estão os dados? (Excel, CSV, JSON, TXT, SGBD, API, etc.)
- Resposta - [House Sales in King County, USA | Kaggle](https://www.kaggle.com/harlfoxem/housesalesprediction).

b. Como coletar os dados? (Download manual, SQL, Python, Streamlit, etc.)
- Resposta - Fazendo o download manual do dataset.

**2.3 Planejamento das FERRAMENTAS:**

a. Identificar quais ferramentas podem ser utilizadas?
- Resposta - Excel, Python, etc.

b. Escolher as ferramentas que serão utilizadas?
- Resposta - Python e Jupyter Notebook.

## **3. Atendendo as necessidades de Negócio com Python e Jupyter Notebook.**

Importando bibliotecas necessárias:

In [2]:
import numpy as np
import pandas as pd

Acessando o dataset:

In [3]:
df = pd.read_csv("../data/kc_house_data.csv")

Visualizando o cabeçalho do dataset:

In [4]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

Visualizando o rodapé do dataset:

In [5]:
df.tail()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

Visualizando a lista de colunas do dataset:

In [6]:
df.columns.to_list()

['id',
 'date',
 'price',
 'bedrooms',
 'bathrooms',
 'sqft_living',
 'sqft_lot',
 'floors',
 'waterfront',
 'view',
 'condition',
 'grade',
 'sqft_above',
 'sqft_basement',
 'yr_built',
 'yr_renovated',
 'zipcode',
 'lat',
 'long',
 'sqft_living15',
 'sqft_lot15']

Visualizando os tipos das colunas do dataset:

In [7]:
df.dtypes

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

## **4. As necessidades do CEO da House Rocket:**

### 1. Quantos imóveis estão disponíveis para compra?
  - Resposta - Contar o número de linhas do dataset.

In [4]:
df.shape[0]

21613

### 2. Quantos atributos os imóveis possuem? (número de quartos, metragem, etc.)
  - Resposta - Contar o número de colunas do dataset.

In [7]:
df.shape[1]

21

### 3. Quais são os atributos dos imóveis? (preço, número de quartos, número de banheiros, etc.)
  - Resposta - Exibir o nome das colunas do dataset.

In [9]:
df.columns.tolist()
# df.columns

['id',
 'date',
 'price',
 'bedrooms',
 'bathrooms',
 'sqft_living',
 'sqft_lot',
 'floors',
 'waterfront',
 'view',
 'condition',
 'grade',
 'sqft_above',
 'sqft_basement',
 'yr_built',
 'yr_renovated',
 'zipcode',
 'lat',
 'long',
 'sqft_living15',
 'sqft_lot15']

### 4. Qual o imóvel mais caro do portfólio?
  - Resposta - Ordenar de forma descrescente as linhas do dataset pelo atributo "price" e exibir a primeira linha.

In [153]:
df[df["price"] == df["price"].max()]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
7252,6762700020,20141013T000000,7700000.0,6,8.0,12050,27600,2.5,0,3,...,13,8570,3480,1910,1987,98102,47.6298,-122.323,3940,8800

### 5. Qual o imóvel com maior número de quartos?
  - Resposta - Ordenar de forma descrescente as linhas do dataset pelo atributo "bedrooms" e exibir a primeira linha.

In [154]:
df[df["bedrooms"] == df["bedrooms"].max()]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
15870,2402100895,20140625T000000,640000.0,33,1.75,1620,6000,1.0,0,0,...,7,1040,580,1947,0,98103,47.6878,-122.331,1330,4700

### 6. Qual a soma total de quartos de todos os imóveis disponíveis para compra?
  - Resposta - Calcular o valor total do atributo "bedrooms".

In [155]:
df["bedrooms"].sum()

72854

### 7. Quantos imóveis possuem 2 banheiros?
  - Resposta - Contar linhas do dataset onde o atributo "bathrooms" é igual a 2.

In [19]:
df[(df["bathrooms"] == 2)].shape[0]

1930

### 8. Qual o preço médio de todos os imóveis?
  - Resposta - Calcular o valor médio do atributo "price".

In [17]:
df["price"].mean()

540088.1417665294

### 9. Qual o preço médio dos imóveis com 2 banheiros?
  - Resposta - Calcular o valor médio do atributo "price" nas linhas onde o atributo "bathrooms" é igual a 2.

In [16]:
df.query("bathrooms == 2")["price"].mean()

457889.7186528497

### 10. Qual o preço mínimo entre os imóveis com 3 quartos?
  - Resposta - Obter o valor mínimo do atributo "price" nas linhas onde o atributo "bedrooms" é igual a 3.

In [15]:
df.query("bedrooms == 3")["price"].min()

82000.0

### 11. Quantos imóveis possuem mais de 300 m2 na sala de estar?
  - Resposta - Contar linhas do dataset onde o resultado do valor do atributo "sqft_living" dividido por 10.7639104 seja maior que 300.

In [12]:
df[(df["sqft_living"] * 0.09290304 > 300)].shape[0]

2258

### 12. Quantos imóveis possuem mais de 2 andares?
  - Resposta - Contar linhas do dataset onde o atributo "floors" seja maior que 2.

In [11]:
df[(df["floors"] > 2)].shape[0]

782

### 13. Quantos imóveis possuem vista para a água?
  - Resposta - Contar linhas do dataset onde o atributo "waterfront" seja diferente de 0.

In [10]:
df[(df["waterfront"] != 0)].shape[0]

163

### 14. Dos imóveis com vista para a água, quantos possuem 3 quartos?
  - Resposta - Contar linhas do dataset onde o atributo "waterfront" seja diferente de 0 e o atributo "bedrooms" seja igual a 3.

In [8]:
df[(df["waterfront"] != 0) & (df["bedrooms"] == 3)].shape[0]

64

### 15. Dos imóveis com mais de 300 m2 na sala de estar, quantos possuem 3 banheiros?
  - Resposta - Contar linhas do dataset onde o resultado do valor do atributo "sqft_living" dividido por 10.7639104 seja maior que 300 e o atributo "bathrooms" seja igual a 3.

In [9]:
df[(df["sqft_living"] * 0.09290304 > 300) & (df["bathrooms"] == 3)].shape[0]

185