<head>
  <meta name="author" content="Rogério de Oliveira">
  <meta institution="author" content="Universidade Presbiteriana Mackenzie">
</head>

<img src="http://meusite.mackenzie.br/rogerio/mackenzie_logo/UPM.2_horizontal_vermelho.jpg" width=300, align="right">
<!-- <h1 align=left><font size = 6, style="color:rgb(200,0,0)"> optional title </font></h1> -->

**CURSO DE PÓS-GRADUAÇÃO EM CIÊNCIA DE DADOS (BIG DATA PROCESSING AND ANALYTICS)**<p>
**Componente curricular:** PROCESSAMENTO E BIG DATA - O PROCESSING EM UMA VISÃO PRÁTICA - 2022.2 - 01D - Trilha 3.<br>

**Aluno:** ROBSON DE FREITAS SAMPAIO.<br>

**URL deste notebook:** https://github.com/rfsampaio/postgraduate_data_science/blob/main/notebooks/PB_T3.ipynb<br>
***

### **Atividade - Trilha 3**

#### **Questão 1 - Trabalhando com o SQOOP**

Você deve criar um documento no formato PDF com os códigos usados em cada item da questão. A entrega dessa questão é, portanto, um arquivo em PDF.

**1. Crie uma tabela no banco de dados "testeingestao" chamada "marketing_banco".**

   - Conectando no servidor "mysql" da máquina virtual Cloudera.
   
```
   [cloudera@quickstart ~]$ mysql -u root -p
```
   - Senha do "mysql": cloudera.

**2. Essa tabela deve conter os seguintes campos:**
   - idade inteiro não nulo,  
   - estado civil varchar tamanho 30 não nulo,  
   - trabalho varchar tamanho 50 não nulo,  
   - casa inteiro não nulo,  
   - empréstimo inteiro não nulo,  
   - campanha inteiro não nulo,
   - contato varchar tamanho 50 não nulo.

   - Criando o database

```
   mysql> create database testesingestao;
   Query OK, 1 row affected (0.00 sec)
```

   - Criando a tabela no database
   
```
   mysql> use testesingestao;
   Database changed

   mysql> create table marketing_banco (idade int not null, estado_civil varchar(30) not null,
   -> trabalho varchar(50) not null, casa int not null, emprestimo int not null, campanha int not null,
   -> contato varchar(50) not null);
   Query OK, 0 rows affected (0.03 sec)
```

**3. Agora você deve inserir os dados na tabela. Você pode inserir rapidamente no MySQL usando o comando LOAD conforme visto no tutorial do SQOOP. Baixe os dados no seguinte link: https://drive.google.com/file/d/1s5JotiouBon3DU7urq8JfDJeTtN2IZbY**

   - Baixando o arquivo "makt_banco.csv" a partir de "https://drive.google.com/file/d/1s5JotiouBon3DU7urq8JfDJeTtN2IZbY" e salvando na pasta "/home/cloudera/Downloads/".
   
   - Carregando os dados do arquivo "makt_banco.csv" no "mysql".
   
   ```
      mysql> load data local infile 
      -> "/home/cloudera/Downloads/makt_banco.csv" 
      -> into table marketing_banco fields terminated by "," 
      -> lines terminated by "\n" ignore 1 lines;
      Query OK, 45211 rows affected, 65535 warnings (0.18 sec)
      Records: 45211  Deleted: 0  Skipped: 0  Warnings: 316477
   ```

**4. Importe os dados da tabela "marketing_banco" para o HDFS usando o SQOOP.**

   - Importando os dados para o SQOOP.

   ```
      sqoop import --connect jdbc:mysql://localhost:3306/testesingestao --username root --password cloudera
   ```
   ```
                   --table marketing_banco -m 1
   ```

   - Resultado do comando acima:

   ```
      22/12/04 03:48:16 INFO mapreduce.Job: Running job: job_1670152151998_0001
      22/12/04 03:48:25 INFO mapreduce.Job: Job job_1670152151998_0001 running in uber mode : false
      22/12/04 03:48:25 INFO mapreduce.Job:  map 0% reduce 0%
      22/12/04 03:48:32 INFO mapreduce.Job:  map 100% reduce 0%
      22/12/04 03:48:32 INFO mapreduce.Job: Job job_1670152151998_0001 completed successfully
      22/12/04 03:48:32 INFO mapreduce.Job: Counters: 30
	   File System Counters
		   FILE: Number of bytes read=0
		   FILE: Number of bytes written=171072
		   FILE: Number of read operations=0
		   FILE: Number of large read operations=0
		   FILE: Number of write operations=0
		   HDFS: Number of bytes read=87
		   HDFS: Number of bytes written=542532
		   HDFS: Number of read operations=4
		   HDFS: Number of large read operations=0
		   HDFS: Number of write operations=2
	   Job Counters 
		   Launched map tasks=1
		   Other local map tasks=1
		   Total time spent by all maps in occupied slots (ms)=4738
		   Total time spent by all reduces in occupied slots (ms)=0
		   Total time spent by all map tasks (ms)=4738
		   Total vcore-milliseconds taken by all map tasks=4738
		   Total megabyte-milliseconds taken by all map tasks=4851712
	   Map-Reduce Framework
		   Map input records=45211
		   Map output records=45211
		   Input split bytes=87
		   Spilled Records=0
		   Failed Shuffles=0
		   Merged Map outputs=0
		   GC time elapsed (ms)=68
		   CPU time spent (ms)=1520
		   Physical memory (bytes) snapshot=154619904
		   Virtual memory (bytes) snapshot=1511198720
		   Total committed heap usage (bytes)=60751872
	   File Input Format Counters 
		   Bytes Read=0
	   File Output Format Counters 
		   Bytes Written=542532
      22/12/04 03:48:32 INFO mapreduce.ImportJobBase: Transferred 529.8164 KB in 19.9381 seconds (26.5731 KB/sec)
      22/12/04 03:48:32 INFO mapreduce.ImportJobBase: Retrieved 45211 records.
   ```

   - Checando a existência do arquivo "marketing_banco" no sistema de arquivos HDFS, após a importação via SQOOP:
   
   ```
      [cloudera@quickstart ~]$ hdfs dfs -ls
      Found 1 items
      drwxr-xr-x   - cloudera cloudera          0 2022-12-04 03:48 marketing_banco
   ```